/* Universal selector */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
/* Id selector */
#container {
  width: 50%;
  text-align: center;
  background-color: #ec4d37;
  margin: 10% auto;
  padding: 20px;
}
/* Descendent selector */
#container h1 {
  font-size: 50px;
  margin: 10px 0px;
}
form {
}

/* Grouping selector */
input,
label {
  display: block;
  width: 80%;
  margin: auto;
}

label {
  font-size: 20px;
  text-transform: uppercase;
}
input {
  padding: 10px;
  margin: 10px auto;
}

p {
  font-size: 18px;
}
/* Descendent selector */
p a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Attribute selector */

input[type="submit"] {
  width: 20%;
  font-size: 15px;
  font-weight: 600;
  background-color: black;
  color: white;
  border-radius: 10px;
}

/* Pseudo selector */

input[type="submit"]:hover {
  background-color: white;
  color: red;
}

/* Pseudo element selector */

input::placeholder {
  color: red;
}
